@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* variables */

:root {
    --bg: #232323;
    --text-color: #ababab;
    --primary: #0ed19d;
}

* {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
}
body {
    font-family: Inter, sans-serif;
    background-color: var(--bg);
}

h1 {
    color: var(--primary);
}
p {
    color: var(--text-color);
}